OAUTH_SCHEME = msauth.com.xcelenergy.gasfee.development
OAUTH_REDIRECT_URI = msauth.com.xcelenergy.gasfee.development%3A%2F%2Fauth%2F
PROXY_BASE_URL = gdl-xcelenergytest.msappproxy.net
OAUTH_SCOPE = https%3A%2F%2Fgdl-xcelenergytest.msappproxy.net%2Farcgis%2Fuser_impersonation
OAUTH_CLIENT_ID = be867936-b5b6-4bdd-b29e-fc6c932733b3
OAUTH_APP_ID = 601ff8c0-9157-428b-b436-38feda19daa3
ESRI_API_KEY = AAPKd11368d6043b48449ba076433fe99388yh45QIVrF0fZtWddTOBleOGz6b1vf2bsBYy8YwqB4RHtXXHtPaXiZRe56RAyNeVe
